[defaults]
inventory = ./inventory.yml
interpreter_python = auto_silent
result_format = yaml
callbacks_enabled = timer, profile_tasks
diff = True

[ssh_connection]
pipelining = True
timeout = 10
ssh_args = -o ControlMaster=auto -o ControlPersist=60s

[privilege_escalation]
become = True
become_ask_pass = False
